/* #form{
    margin-left: 20vw;
}
#form input{
    
    border-radius: 40px;
    padding-left: 20px;
}
#form .button{
    border-radius: 40px!important;
    color: white;
    border : 1px solid white;
    width: 7vw;
}
#form li{
    width: 20vw;
}
.usericon{
    margin-right: 20px;
    margin-left: 10px;
    font-size: 20px;
}
.navbarmaterial{
    position: fixed!important;
    background-color: rgb(4, 66, 17)!important;
    box-shadow:2px 3px 15px rgb(2, 66, 2)!important;
} */