#card{
    position: fixed!important;
    top: 12vh!important;
    bottom: 4vh;
    width: 20vw!important;
    left: 2vw;
    border-radius: 10px;
    /* background-image:linear-gradient(rgba(255, 255, 255, 0.651),rgba(0, 99, 5, 0.342)); */
    box-shadow: 2px 7px 15px #c5cae9;
    height: 20vh!important;
}
#avtar{
    height: 80px;
    width: 80px;
}